
  .products .card {
    background: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    width: 15vw;
    height: auto;
    margin: 20px 0;
    padding: 20px 0;
  }

  .products .card:hover {
    background-color: #ccc; /* Change this to the desired darker grey color */
  }

  .products-header{
    padding: 80px 0;
  }

  .products .card img {
    height: 120px; /* Adjusted image height */
    width: 120px; /* Adjusted image width */
  }


  .products .card .desc {
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 5px 20px;
    opacity: 0.8;

  }

  .products .card .title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 900;
    font-size: 20px;
    color: black;
    padding: 0 20px;
  }

  .products .card .box {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  .products .card .box .btn-store {
    font-size: 15px;
    color: #5981F3;
    background-color: #243056;
    padding: 10px 18px;
    font-weight: 900;
    border: 1px solid transparent;
    border-radius: 100px;
  }

  .products .card .box .btn-store:hover {
    cursor: pointer;
    color: #3b4874;
  }

  .price, .desc {
    color: black;
  }

  .products .card .title,
.products .card .author,
.products .card .price {
    text-decoration: none;
}

.price-container p{
  color: black;
}
