.App {
  text-align: center;
}



.logo{
  width: 10%;
  height: auto;
  padding-right: 20px;
}

.leftH, .rightH
{
    padding-top: 40px;
    display: flex;
    gap: 20px;
}

.leftH {
  align-items: center;
  width: 70%;
}

.rightH {
  justify-content: flex-end;
  width: 29%;
}

.headerItem {
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  font-weight: 500;
  transition: 0.3s;
  display: flex;
  align-items: center;
}

.headerItem:hover {
  background-color: rgb(34, 42, 58);
  cursor: pointer;
}

.connectButton {
  background-color: #243056;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 100px;
  color: #5981F3;
  font-weight: bold;
  transition: 0.3s;
}

.connectButton:hover {
  cursor: pointer;
  color: #3b4874
}


footer {
  width: 100%;
  background-color: #0C0E16;
}

#contact {
  padding: 10px;
  display: flex;
  align-items: center;
  margin-left: 10%;
}

#contact > p {
  margin-left: auto;
  margin-right: 10%;
}

#contact> p > a {
  text-decoration: none;
  color: white;
  margin-right: 20px;
  padding-right: 20px;
}

.bottom-icon > img {
  width: 50px;
  height: 50px;
}

.bottom-icon {
  padding-right: 2%;
}

#bottom {
  background-color: #000000;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

#bottom > p {
  margin: 0;
}

.mainWindow {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.link {
  text-decoration: none;
  color: white;
}

.content{
  display: flex;
  justify-content: center;
  padding-top: 120px;
}

.tradeBox {
  width: 400px;
  background-color: #0E111B;
  border: 2px solid #21273a;
  min-height: 300px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 30px;
  padding-right: 30px;
}


.tradeBoxHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
}

.cog {
  transition: 0.3s;
}

.cog:hover {
  rotate: 90deg;
}

.switchButton {
  background-color: #3a4157;
  width: 25px;
  height: 25px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 8px;
  position: absolute;
  top: 86px;
  left: 180px;
  color: #5F6783;
  border: 3px solid #0E111B;
  font-size: 12px;
  transition: 0.3s;
  z-index: 1;
}

.dollarAmount {
  position: absolute;
  top: 75px;
  left: 14px;
  font-size: 10px;
  color: #5F6783;
}

.switchButton:hover {
  color: white;
  cursor: pointer;
}

.inputs {
  position: relative;
}
.asset{
  position: absolute;
  min-width: 50px;
  height: 30px;
  background-color: #3a4157;
  right: 20px;
  border-radius: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  font-size: 17px;
  padding-right: 8px;
  transition: 0.3s;
}

.asset:hover{
  background-color: #4c546d;
  cursor: pointer;
}

.assetOne {
  top: 36px;
}

.assetTwo {
  top: 135px;
}

.assetLogo {
  height: 22px;
  margin-left: 5px;
}

.swapButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #243056;
  width: calc(100%);
  height: 55px;
  font-size: 20px;
  border-radius: 12px;
  color: #5981F3;
  font-weight: bold;
  transition: 0.3s;
  margin-bottom: 30px;
  margin-top: 8px;
}

.swapButton[disabled] {
  background-color: #243056;
  opacity: 0.4;
  color: #5982f39b;
}

.swapButton[disabled]:hover {
  cursor: not-allowed;
  background-color: #243056;
}

.swapButton:hover {
  cursor: pointer;
  background-color: #3b4874
}

.tokenLogo {
  height: 40px;
  width: 40px;
}

.modalContent {
  border-top: 1px solid #363e54;
  /* padding-top: 20px; */
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px
}

.tokenChoice {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.tokenChoice:hover {
  cursor: pointer;
  background-color: #1f2639;
}

.tokenName {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 500;
}

.tokenTicker {
  margin-left: 10px;
  font-size: 13px;
  font-weight: 300;
  color: #51596f;
}

.search-bar {
  display: inline-block;
  overflow: hidden;
  border-radius: 100px;
  background-color: #333;
  padding: 10px;
}

#search-bar-input {
  width: 400;
  border: none;
  outline: none;
  background: transparent;
  color: white;
  padding: 5px;
}

/* Add these styles to make the navigation bar responsive */
.navbar {
  height: 100px;
  display: flex;
  align-content: center;
  flex-direction: column;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 30px;
}

.toggle-button {
  display: none;
  font-size: 30px;
  cursor: pointer;
  background: none;
  border: none;
  color: white;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100px;
  right: 50px;
  background-color: #0E111B;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Add a media query for small screens */
@media (max-width: 768px) {
  .toggle-button {
    display: block;
    font-size: 30px; /* Adjust the font size as needed */
    padding: 8px 12px; /* Add padding to the button */
  }

  .leftH {
    position: relative; /* Make sure the parent is relatively positioned */
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px; /* Adjust the top position as needed */
    right: 80%; /* Adjust the right position as needed */
    transform: translateX(80%); /* Center the menu horizontally */
    background-color: #0E111B;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  .nav-links.active {
    display: flex;
    right: 98%;
    z-index: 1;
  }

  .logo {
    display: none; /* Hide logo on smaller screens */
  }
}
